input[type="range"] {
    height: 1.1em !important;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: rgba(255, 255, 255, .08) !important;
}

input[type="range"]::-webkit-slider-thumb {
    width: 35px !important;
    background-color: #1abc9c !important;
    box-shadow: none !important;
}